.button{
    background-color:$blue;
    border: none;   
    border-radius: 1rem;
    color:white;
    display: inline-block; 
    line-height: 1; 
    padding: 1.2rem;
    font-weight: 600; 
    font-size: $font-zise-large;
    padding: $s-size;
    text-decoration: none;
}

.button--link{
    background:none;
}