.text-input{
    border:1px solid #sacccd;
    height:50px;
    font-weight:bold;
    font-size:$font-zise-large;
    padding:$m-size;
}

.select{
    @extend .text-input 
}

.textarea{
    @extend .text-input;
    height:10rem;
}