.input-group{
  display: flex;
  flex-direction: column;    
  margin-bottom: $m-size;
  @media(min-width:$disktop-breakPoint){ 
    flex-direction: row;
  }  
}
.input-group__item{
  margin: 0 0 $m-size $l-size;  
  @media(min-width:$disktop-breakPoint){ 
    margin-left : $xl-size ; 
  }
}

// $disktop-breakPoint