.input-group{
  display: flex;
  flex-direction: column;
  margin-bottom: $m-size;
  @media(min-width:$disktop-breakPoint){ 
    flex-direction: row;
    margin-right: $l-size;
  }
}
.input-group__item{
  margin-bottom: $m-size ; 
  @media(min-width:$disktop-breakPoint){ 
    margin-right : $xl-size ; 
  }
}

// $disktop-breakPoint