.page-header{
    background: $off-white;
    margin: $m-size;
    padding: $m-size 0;
}

.page-header__action{ 
    margin-top: $m-size;
}

.page-header__title{
    h1{ 
    font-weight: 300;
    }
    margin: 0; 
    span{
        font-weight: 700;
    }
}
 