// color 
$blue:#1c88bf;
$dark-gray:#333;
$dark-blue:#364051;
$off-white: #a5afd7; 
//font-sizzze
$font-zise-large:1.8rem;

// size
$s-size:1.2rem;
$m-size:1.6rem;
$l-size:3.2rem;
$xl-size:4.8rem;
$disktop-breakPoint:45rem;

