// color 
$blue:#1c88bf;
$dark-gray:#333;
$gray:#666;
$dark-blue:#364051;
$off-white-iapp: #a5afd7; 
$off-white:#f7f7f7;
//font-sizzze
$font-zise-large:1.8rem;
$font-zise-small:1.4rem;
// size
$s-size:1.2rem;
$m-size:1.6rem;
$l-size:3.2rem;
$xl-size:4.8rem;
$disktop-breakPoint:45rem;

